* {
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 15px 30px;
  font-size: 17px;
  padding: 8px;
}
.container {
  background-color: #f2f2f2;
  padding: 5px 20px 15px 20px;
  border: 1px solid grey;
  border-radius: 5px;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"],
input[type="date"],
select,
textarea {
  width: 100%;
  padding: 15px;
  border: #ccc;
  border-radius: 5px;
  margin: 5px;
}

fieldset {
  border: 1px solid #ccc;
  border-radius: 5px;
}

.heading {
  text-align: center;
}

input[type="submit"] {
  background-color: rgba(92, 202, 49, 0.795);
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}
input[type="submit"]:hover {
  background-color: #239119;
}
